<div id="custom-doc" class="yui-t7"><!--start doc-->
  <div id="wrapper"><!--start wrapper-->


    <div id="bd"><!--start bd-->
      <div id="yui-main"><!--start yui-main-->

        <div class="yui-b">

          <div id="image_wrapper">
            <img alt="shaking hands and tax forms" src="/images/engeltax/handshake_header.jpg"/>
          </div>
          <!--end image_wrapper-->
        </div>
        <!--end yui-b-->

        <div class="yui-b">
          <div class="yui-g">

            <div class="services-top">

              <H1>ASK ENGEL TAX</H1>

              <img src="/images/engeltax/nav_horizontal.gif"/>
              <br/>
              <br/>

              <div class="yui-gc">
                <div class="yui-u first">
                  <div id="titledivider"></div>

                  <div id="contactblurb"><p>

                    <p><span id="BugEvents">Please fill out the form with any questions that you may have.</span></p>
                  </div>
                  <br/>

                  <div id="header_left"><!--start header_left-->

                    <img src="/images/engeltax/line_break_long.gif"/>

                  </div>
                  <!--end header_left-->
                  <br/>
                  <br/>





                  <%= form_for @inquiry do |f| %>
                      <%= render :partial => "/shared/admin/error_messages",
                                 :locals => {
                                         :object => @inquiry,
                                         :include_object_name => true
                                 } %>



                      <table border="0" cellspacing="5">

                        <tr>

                          <td valign="top" colspan='5'></td>
                        </tr>

                        <tr class='bodytext'>
                          <td class='required' valign='bottom'><span>*</span>Name:</td>
                          <td class='required' valign='bottom'><span>*</span>Email:</td>

                        </tr>

                        <tr class='bodytext'>

                          <td> <%= f.text_field :name %></td>
                          <td> <%= f.text_field :email %></td>
                        </tr>

                        <tr class='bodytext'>
                          <td class='required' valign='bottom'>Company:</td>
                          <td class='required' valign='bottom'>Phone:</td>
                        </tr>


                        <tr class='bodytext'>
                          <td>  <%= f.text_field :company %></td>
                          <td> <%= f.text_field :phone %></td>
                        </tr>

                        <tr class='bodytext'>
                          <td class='required' valign='bottom'><span>*</span>Subject:</td>
                        </tr>

                        <tr class='bodytext'>

                          <td> <%= f.text_field :subject %></td>

                        </tr>

                        <tr class='bodytext'>
                          <td class='required' valign='bottom'><span>*</span>Ask Engel Tax:</td>
                        </tr>

                        <tr class='bodytext'>
                          <td colspan='2'> <%= f.text_area :message, :rows => 8 %></td>

                        </tr>

                      </table>


                      <div id="contactblurb"><p>

                        <p><span id="BugEvents">Please prove that you are a human.</span></p>
                      </div>

                      <%= recaptcha_tags %>



                      <%= f.submit t('.send') %>
                      <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>

                  <% end %>


                </div>
                <!--end form_div-->

                <section id='body_content'>
                  <%= raw @page[:side_body] %>
                </section>

              </div>

            </div>
            <!-- services-top -->

          </div>
          <!-- yui-g -->
          <br/>
          <br/>

        </div>
        <!--end yui-b-->

      </div>
      <!--end yui-main-->
    </div>
    <!--end bd-->

  </div>
</div>
